<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="/./static/admin/lib.style.css?bf5e8f7667c4adc0d52c" rel="stylesheet"><link href="/./static/admin/style.css?bf5e8f7667c4adc0d52c" rel="stylesheet"></head>
<body>
    <div id="app"></div>
<script src="/./static/admin/lib.js?bf5e8f7667c4adc0d52c"></script><script src="/./static/admin/main.js?bf5e8f7667c4adc0d52c"></script></body>
</html>